#card {
  border-radius: 1em;
}

#modal-edit {
  box-shadow: 20em !important;
  border-radius: 0.8em !important;
  border: none !important;
  transition: all 0.5s;
}

#modal-header {
  border-radius: 0.8em;
  border-bottom: none !important;
}

#close-buttom:hover {
  transform: rotate(360deg);
  transition: all 1s;
}
